<section class="twelve columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Computer Engineering</h1>
            <span>Universidade de São Paulo - USP</span>
            <span><address>Sao Paulo, BR</address><time>2018 to 2019</time></span>
        </header>
        <p>
            <em>Dissertation: A Reference Architecture for Data Visualization in huge volume of data</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Post-graduation in Java Development</h1>
            <span>Facultade de Informática e Administração Paulista - FIAP</span>
            <span><address>Sao Paulo, BR</address><time>2008 to 2009</time></span>
        </header>
        <p>
            <em>Dissertation: Academix: An Academic Management application.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>Universidade São Judas Tadeu</span>
            <span><address>Sao Paulo, BR</address><time>2003 to 2006</time></span>
        </header>
        <p>
            <em>Dissertation: Game Theory applied to database education.</em>
        </p>
    </article>
    <h1>Additional Courses</h1>
    <article>
        <header>
            <h1>Data Analyst Nanodegree</h1>
            <span>Udacity</span>
        </header>
    </article>
    <article>
        <header>
            <h1>R Programmer</h1>
            <span>Datacamp</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Data Analyst with R</h1>
            <span>Datacamp</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Data Scientist with R</h1>
            <span>Datacamp</span>
        </header>
    </article>
</section>
