<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Advanced Computing</h1>
            <span>University of Glasgow</span>
            <span><address>Glasgow, UK</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Post-graduation in Java Development</h1>
            <span>Facultade de Informática e Administração Paulista - FIAP</span>
            <span><address>Sao Paulo, BR</address><time>2008 to 2009</time></span>
        </header>
        <p>
            <em>Dissertation: Game Theory applied to database education.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>Universidade São Judas Tadeu</span>
            <span><address>Sao Paulo, BR</address><time>2003 to 2006</time></span>
        </header>
        <p>
            <em>Dissertation: Game Theory applied to database education.</em>
        </p>
    </article>
</section>
