<section class="twelve columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior Software Engineer</h1>
            <span><address>Remote, BR</address><time>2016 to Present</time></span>
        </header>
        <p>
            <ul>
                <li>Working with container development</li>
                <li>Contributor of RADAnalytics.io project</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Principal Technical Support Engineer</h1>
            <span><address>SaoPaulo, BR</address><time>2015 to 2016</time></span>
        </header>
        <p>
            <ul>
                <li>Provide front-line support for Red Hat Products, Middleware and Cloud products.</li>
                <li>Specialties in IaaS and PaaS products and Java middleware.</li>
                <li>Exceed customer expectations with outstanding customer service.</li>
                <li>Consult with and develop relationships with in-house engineers and developers to drive creative solutions and improve customer satisfaction.</li>
                <li>Contribute to global Red Hat knowledge management system in the process of working customer issues.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Senior Technical Support Engineer</h1>
            <span><address>SaoPaulo, BR</address><time>2011 to 2015</time></span>
        </header>
        <p>
            <ul>
                <li>Provide technical support to customers by taking incoming calls and responding to web-based inquiries.</li>
                <li>Perform diagnostics of problems, troubleshoot and develop solutions for customer issues.</li>
                <li>Exceed customer expectations with outstanding customer service.</li>
                <li>Consult with and develop relationships with in-house engineers and developers to drive creative solutions and improve customer satisfaction.</li>
                <li>Contribute to global Red Hat knowledge management system in the process of working customer issues.</li>
                <li>Working with Fuse products and OpenShift, a PaaS product from Red Hat</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Technical Support Engineer</h1>
            <span><address>SaoPaulo, BR</address><time>2010 to 2011</time></span>
        </header>
        <p>
            <ul>
                <li>Provide a high, detailed level of technical assistance to ensure that our customers get the most out of our JBoss products</li>
                <li>Engage and collaborate with open source developers around the world</li>
                <li>Offer developer-to-developer assistance for the JBoss Enterprise Middleware Suite</li>
                <li>Work alongside in-house developers, write new code, fix & improve code, provide highly technical solutions and contribute to the JBoss & open source software communities</li>
                <li>Act as the technical point person for a technology of your choosing within the JBoss Product Suite</li>
                <li>Develop patches and feature requests to provide upstream to the community and downstream to customers</li>
                <li>Advise customers on JEE architectural design decisions</li>
                <li>Work with other open source projects to help customers integrate</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>SaoPaulo, BR</h1>
            <span><address>Glasgow, UK</address><time>2009 to 2010</time></span>
        </header>
        <p>
            <ul>
                <li>Java Development using Websphere Portal, Hibernate and Struts.</li>
                <li>QA Analysis and Reuse Components development</li>
            </ul>
        </p>
    </article>
</section>
